.Rproj.user
.Rhistory
.RData
.Ruserdata

osmose-eec/**/*modified*.csv
output_temp*/*
*simulation_results*/*
output_baseline/*
4.indicators/indicators_output/*
5.baseline/indicators_baseline/*
*restart.txt
*.log

